.text {
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  font-size: 14px;
  color: var(--Base-400);
}
.sm {
  font-size: 12px;
}
.base {
  font-size: 16px;
}
.primaryDefault {
  color: var(--Primary-Default);
}
.base0 {
  color: var(--Base-0);
}
.base300 {
  color: var(--Base-300);
}
.base400 {
  color: var(--Base-400);
}
.base500 {
  color: var(--Base-500);
}

.base600 {
  color: var(--Base-600);
}
.base800 {
  color: var(--Base-800);
}
.base950 {
  color: var(--Base-950);
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.bold {
  font-weight: 700;
}
.semiBold {
  font-weight: 500;
}
