.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}
.backArrow {
  cursor: pointer;
  max-width: 24px;
  width: 100%;
}
.logo {
  max-width: 48px;
  width: 100%;
}
.participants {
  display: flex;
  align-items: center;
}
.participant {
  max-width: 28px;
  width: 100%;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.participantContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.participant {
  display: block;
}
.fullName {
  padding: 4px 8px;
  border-radius: 6px;
  background: var(--Base-950);
}
.status {
  border-radius: 6px;
  padding: 3px 6px;

  text-transform: capitalize;
}
.ongoing {
  border-radius: 6px;
  background: rgba(43, 99, 225, 0.1);
  color: var(--Primary-Default);
}
.upcoming {
  border-radius: 6px;
  background: rgba(255, 158, 45, 0.1);
  color: var(--Warning-Default);
}
.cancelled {
  border-radius: 6px;
  background: var(--Base-900);
  color: var(--Base-500);
}
.fullNameAndStatus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 5px;
}
.rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  border-radius: 24px 24px 0 0;
  background: var(--Base-800);
  box-shadow: 0px -16px 32px -16px rgba(0, 0, 0, 0.08);
  padding: 20px;
  padding-bottom: 24px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.rewardImg {
  max-width: 24px;
  width: 100%;
}
.button {
  padding: 14px 20px;
  color: var(--Base-600);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 12px;
  background: var(--Base-700);
  margin-left: auto;
  transition: none;
}
.button:hover {
  transform: translateY(0);
  opacity: 1;
}
.point {
  margin-top: 5px;
}
.claimButton {
  padding: 14px 20px;
  color: var(--Base-0);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 12px;
  background: var(--Primary-Default);
  margin-left: auto;
}
.detailsContainer {
  padding-bottom: 80px;
}
