.header {
  display: flex;
  align-items: center;

  width: 100%;
  gap: 12px;
}
.heading {
  flex: 1;
  transform: translateX(-12px);
}
.backArrow {
  cursor: pointer;
  max-width: 24px;
  width: 100%;
}
