.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.balanceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.coin {
  max-width: 40px;
}
.infoContainer {
  background: var(--Base-800);
  width: 100%;
}
.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  align-items: center;
  border-right: 1px solid var(--Base-700);
  padding: 20px 12px;
}
.step:last-child {
  border: none;
}

.valueContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  max-width: 18px;
  width: 100%;
}
.levelContainer {
  border-top: 1px solid var(--Base-700);
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 12px;
  align-items: center;
}
.level {
  display: flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--Base-700);
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 280px;
  height: 280px;
  margin: 0 auto;

  border-radius: 280px;
  border: 10px solid var(--Base-800);
  box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.25) inset,
    0px 8px 24px -2px rgba(0, 0, 0, 0.16), 20px 4px 3px -1px rgba(0, 0, 0, 0.02);
  margin-bottom: 8px;
}
.img {
  max-width: 120px;
  width: 100%;
}

.balanceIcon {
  max-width: 20px;
  width: 100%;
}
