.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navItem {
  color: var(--Base-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  border-radius: 36px;
  padding: 6px 16px;

  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activeNavItem {
  background: var(--Primary-Default);
  color: var(--Primary-Content);
}
